// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Typography
@import "typography";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

body {
    margin-bottom: $height-footer;
}

.navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

// Overriding Bootstrap Defaults
.border-dark {
    color: $off-black !important;
}

.form-alert {
    height: 30px !important;
    padding: 0 !important;
    margin: 4px 0 !important;
    text-align: center !important;
}

.cur-pointer {
    cursor: pointer !important;
}

// Footer css
#footer {
    bottom: 0;
    width: 100%;
    position: absolute;
    height: $height-footer;
    background-color: #1c1c1c !important;

    .footer-block {
        margin: 20px 0;
    }
}
